.acitveLink {
    font-size: 20px;
    color: #67FEDB;
    letter-spacing: 0;
    line-height: 24px;
    display: inline-block;
    margin-right: 15px;
    border-bottom: 2px solid #67FEDB;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.acitveLink-hotmap {
    font-size: 20px;
    color: #FFCE4D;
    letter-spacing: 0;
    line-height: 24px;
    display: inline-block;
    margin-right: 15px;
    border-bottom: 2px solid #FFCE4D;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.navLink {
    font-size: 16px;
    color: #9098B8;
    letter-spacing: 0;
    line-height: 24px;
    border-bottom: 0;
    display: inline-block;
    margin-right: 15px;
    border-bottom: 1px solid #0A0D1E;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.branchs_container {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.branchs_container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.hotmap_container {
    margin-top: 10px;
    width: 500px;
    height: 480px;
    background: url("../asset/bg_480x500.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

.branchsall_container {
    margin-top: 10px;
    width: 500px;
    height: 380px;
    background: url("../asset/bg_380x500.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hotmap_moudle {
    height: 495px;
    width: 100%;
}

.ranking_top {
    height: 650px;
    overflow-y: auto;
}

.ranking_middle {
    font-size: 16px;
    color: #9098B8;
    letter-spacing: 0;
    line-height: 16px;
    padding-left: 20px;
    border-top: 1px solid #244978;
    border-bottom: 1px solid #244978;
    width: 100%;
    /* height: 130px; */
}

.line-x {
    background: #000000;
    height: 1px;
    width: 360px;
    margin: 0 auto;
}

.ranking_middle div:nth-of-type(1) span {
    font-size: 64px;
    color: #67FEDB;
    letter-spacing: 0;
    line-height: 80px;
    padding-left: 20px;
}

.ranking_middle div:nth-of-type(3) span {
    font-size: 64px;
    color: #FFCE4D;
    letter-spacing: 0;
    line-height: 80px;
    padding-left: 20px;
}

.ranking_bottom {
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 120px;
    padding-left: 20px;
}

.ranking_bottom img {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    background: #FFFFFF;
    border-radius: 50px;
    margin-right: 15px;
}

.branchs_container ul li {
    width: 300px;
    height: 300px;
    padding: 20px;
    /* border: 0.3px solid #FFFFFF; */
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 20px;
}

.ranking_container {
    margin-top: 10px;
    height: 940px;
    width: 400px;
    background: url("../asset/bg_400x940.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.branchs_container ul li:nth-of-type(1) {
    background: url("../asset/a1.png")
}

.branchs_container ul li:nth-of-type(2) {
    background: url("../asset/a2.png")
}

.branchs_container ul li:nth-of-type(3) {
    background: url("../asset/b.png")
}

.branchs_container ul li:nth-of-type(4) {
    background: url("../asset/c1.png")
}

.branchs_container ul li:nth-of-type(5) {
    background: url("../asset/c2.png")
}

.branchs_container ul li:nth-of-type(6) {
    background: url("../asset/d.png")
}

.branchs_container ul li:nth-of-type(7) {
    background: url("../asset/e1.png")
}

.branchs_container ul li:nth-of-type(8) {
    background: url("../asset/e2.png")
}

.branchs_container ul li:nth-of-type(9) {
    background: url("../asset/e3.png")
}

.ngr-container {
    background: transparent;
    outline: 0;
}

.ngr-control-container {
    display: none;
}

.trailSearch {
    display: inline-block;
    position: relative;
}

.trailSearch input {
    width: 260px;
    height: 30px;
    border: 1px solid #224978;
    display: inline-block;
    background: transparent;
    border-radius: 15px;
    text-indent: 35px;
    font-size: 16px;
    color: snow;
}

.trailSearch img {
    width: 25px;
    position: absolute;
    left: 7px;
    top: 3px;
}

.trailSearch img:hover {
    cursor: pointer;
}

.trail_title {
    font-size: 16px;
    color: #9098B8;
    letter-spacing: 0;
    line-height: 24px;
    display: inline-block;
    margin-right: 15px;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    padding-right: 10px;
}

.trail_list {
    padding-left: 30px;
    padding-top: 20px;
}

.trail_list li {
    border-left: 1px solid#FF654D;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    color: #FF654D;
    letter-spacing: 0;
    font-weight: 100!important;
}

.trail_list li span {
    padding-right: 15px;
}

.trail_list li div {
    width: 16px;
    height: 16px;
    border: 1px solid #FF654D;
    border-radius: 8px;
    position: absolute;
    left: -8px;
    top: 12px;
    background: #10132E;
}